local
ldlib
logs
patchouli_books
resourcepacks
saves
shaderpacks
minecraftinstance.json
options.txt
downloads
defaultconfigs
crash-reports
ESM
modernfix
minecraftinstance.json
usercache.json
config/jade/sort-order.json
config/jade/plugins.json
config/extendedcrafting/singularities/tin.json
config/extendedcrafting/singularities/silver.json
config/extendedcrafting/singularities/redstone.json
config/extendedcrafting/singularities/steel.json
config/extendedcrafting/singularities/platinum.json
config/extendedcrafting/singularities/nickel.json
config/extendedcrafting/singularities/lead.json
config/extendedcrafting/singularities/lapis_lazuli.json
config/extendedcrafting/singularities/iron.json
config/extendedcrafting/singularities/gold.json
config/extendedcrafting/singularities/emerald.json
config/extendedcrafting/singularities/aluminum.json
config/extendedcrafting/singularities/bronze.json
config/extendedcrafting/singularities/coal.json
config/extendedcrafting/singularities/copper.json
config/extendedcrafting/singularities/electrum.json
config/extendedcrafting/singularities/diamond.json
config/extendedcrafting-client.toml
config/extendedcrafting/singularities/glowstone.json
